<div class ="kekka">
    <div class ="daimei">
        <h1>Diagnostic result</h1>
        <h2>診断結果</h2>
    </div>
    <div class ="gennkido">
        <p>判定できず…</p>
        <p>1個前のページに戻ってもう一度診断してみよう！</p>
        <div class ="sinndann">
            <%= link_to "✿診断に戻る✿",  new_mind_path, class: "link" %>
        </div>
    </div>
</div>