<% if user_signed_in? %>
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %> 
<% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン",   new_user_session_path %>
<% end %>
<h1>今日のあなたの元気度は？</h1>
<h3>こころとからだのチェックリスト</h3>
<%= link_to "✿診断を始める✿", new_mind_path, class: "link" %>
